<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
    <!-- import CSS -->
    <!-- 引入样式文件 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"
    />
</head>
<body>
<div id="app">

    <div style="margin: 10%">
        <h4>智能打卡系统</h4>
        <div>
            <van-button type="primary" size="small" @click="actionShow = true">选择用户</van-button>
            <van-action-sheet v-model="actionShow" :actions="actions" @select="onSelect" ></van-action-sheet>
        </div>
        <div style="margin-top: 1%;margin-bottom: 1%">
            <van-button type="info" size="small" @click="jc">监察</van-button>
            <van-button type="info" size="small" @click="xf">信访</van-button>
            <van-button  type="info" size="small" @click="getToken">获取token</van-button>
            <van-button  type="info" size="small" @click="uploadToken">上传token</van-button>
        </div>

        <van-field
                v-model="form.token"
                name="token"
                label="token"
                placeholder="token"
                :rules="[{ required: true, message: '请填token' }]"></van-field>
        <van-field
                v-model="form.uid"
                name="uid"
                label="uid"
                placeholder="uid"
                :rules="[{ required: true, message: '请填写账号id' }]"></van-field>
        <van-field
                v-model="form.longi"
                name="经度"
                label="经度"
                placeholder="经度"></van-field>
        <van-field
                v-model="form.lati"
                name="维度"
                label="维度"
                placeholder="维度"></van-field>
        <van-field
                v-model="form.address"
                name="地址"
                label="地址"
                placeholder="地址"></van-field>
        <div style="margin-top: 1%">
            <van-button  :loading="loadQueryBtn" type="primary"  size="small" @click="query">查询</van-button>
            <van-button  type="primary"  size="small" @click="daka">打卡</van-button>

        </div>


        <br>
        <div style="margin-top: 2%">
            <a  target="_blank"  href="https://www.notion.so/doney/7b378a85e0e24e55b316eb03f34e183d">接口文档</a>
        </div>
    </div>
    <van-popup style="width: 200px" v-model="show" :close-on-click-overlay="false">

        <van-cell-group>
          <van-field  label-width="50" v-model="password" type="password" label="密码:" placeholder="请输入密码" ></van-field>
        </van-cell-group>
    </van-popup>
</div>
</body>



<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script>
    
    let jcAddress=[
        {
            longi : '120.18293',
            lati : '30.25669',
            address : '浙江省杭州市上城区大学路152号',
        },
        {
            longi : '120.18293',
            lati : '30.25665',
            address : '浙江省杭州市上城区大学路150号',
        },
        {
            longi : '120.18293',
            lati : '30.25674',
            address : '浙江省杭州市上城区大学路154号',
        },
        {
            longi : '120.18293',
            lati : '30.25657',
            address : '浙江省杭州市上城区大学路146号' ,
        },
        {
            longi : '120.18293',
            lati : '30.25669',
            address : '浙江省杭州市上城区大学路152号',
        }
    ]
    
    new Vue({
        el: '#app',
        data() {
            return {
                actionShow:false,
                actions: [
                    { name: '李海洋',value:'o1df8wdKnxgLqSlyRFUUuqCgd6-4' },
                    { name: '郭志瑶',value:'o1df8wTDl3_nHEVqHImgFGhkn92c' },
                    { name: '袁利强',value:'o1df8wRBiO6ZsBRtvNMTPOn-xnDc' },
                    { name: '欧东林',value:'o1df8wULVEui8iH6iGQUSxLqEYGM' },
                    { name: '汪亚平',value:'o1df8wbs0jO5O0EVk8IRD47IDZLg' }],
                form: {
                    token: '',
                    uid: '',
                    longi: '',
                    lati: '',
                    address: '',
                },
                loadQueryBtn:false,
                dakaBtn:false,
                show:true,
                password:'',
            }
        },
        watch:{
            password: function (val) {
                if(val ==='666'){
                    this.show = false
                }
            }
        },
        methods: {
            onSelect(item){
                this.form.uid = item.value
                this.actionShow = false
            },
            query() {
                let that = this
                that.loadQueryBtn = true;
                axios.post('/v1/query',this.form).then(function (response) {
                    let data = JSON.parse(response.data)
                    if(data && data.data && data.data.qdzt){
                        let code = data.data.qdzt
                        if(code === '1'){
                            that.$toast.success('未签到');
                        }else if(code === '6' ){
                            that.$toast.success( '上班中，未签退');
                        }
                        else if(code === '5' ){
                            that.$toast.success('已签退');
                        }else {
                            that.$toast.fail('未知状态');
                        }
                    }else {
                        alert(JSON.stringify(data) )
                    }
                }).catch(e=>{

                    if(e.response.data){
                        alert(e.response.data)
                    }else {
                        alert(e)
                    }

                }).finally(()=>{
                    that.loadQueryBtn = false;
                })
            },
            daka() {
                let that = this
                that.dakaBtn = true;
                let  date = new Date();
                let  hours = date.getHours()*100;
                let  minus =date.getMinutes()
                let time = hours + minus
                if(time > 900 && time <1735){
                    that.$toast.fail('上班时间,不能打卡');
                    that.dakaBtn = false;
                    return
                }
                axios.post('/v1/daka',this.form).then(function (response) {
                    let data = JSON.parse(response.data)
                    if(data.msg ==='成功'){
                        that.$toast.success(data.data);
                    }else {
                        alert(JSON.stringify(data) )
                    }
                }).catch(e=>{
                    if(e.response.data){
                        alert(e.response.data)
                    }else {
                        alert(e)
                    }
                }).finally(()=>{
                    that.dakaBtn = false;
                })
            },
            jc(){
                let  length = jcAddress.length;
                var index = parseInt(Math.random()*length);
                let address = jcAddress[index]
                this.form.longi = address.longi
                this.form.lati = address.lati
                this.form.address = address.address
            },
            xf(){
                this.form.longi = '120.148615'
                this.form.lati = '30.264156'
                this.form.address = '浙江省杭州市西湖区宝石一路2号'
            },
            uploadToken(){
                let that = this
                axios.post('/v1/token',{
                    token :this.form.token
                }).then(res=>{
                    if (res.status === 200) {
                        that.$toast.success(res.data);
                    }else {
                        that.$toast.fail('提交失败');
                    }
                }).catch(e=>{
                    alert(JSON.parse(e))
                })
            },
            getToken(){
                axios.get('/v1/token').then(res=>{
                    console.log(res.data)
                    this.form.token = res.data.token
                }).catch(e=>{
                    alert(JSON.parse(e))
                })
            }
        }
    })
</script>
</html>
