<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
    <!-- import CSS -->
    <!-- 引入样式文件 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"
    />
</head>
<body>
<div id="app">

    <div style="margin: 10%">
        <h4>智能打卡系统</h4>
    <van-button type="primary" @click="wang">汪</van-button>
    <van-button type="primary" @click="ou">欧</van-button>
    <van-button type="primary" @click="jc">监察</van-button>
    <van-button type="primary" @click="xf">信访</van-button>
    <van-field
            v-model="form.token"
            name="token"
            label="token"
            placeholder="token"
            :rules="[{ required: true, message: '请填token' }]"></van-field>
    <van-field
            v-model="form.uid"
            name="uid"
            label="uid"
            placeholder="uid"
            :rules="[{ required: true, message: '请填写账号id' }]"></van-field>
    <van-field
            v-model="form.longi"
            name="经度"
            label="经度"
            placeholder="经度"></van-field>
    <van-field
            v-model="form.lati"
            name="维度"
            label="维度"
            placeholder="维度"></van-field>
    <van-field
            v-model="form.address"
            name="地址"
            label="地址"
            placeholder="地址"></van-field>
    <van-button type="primary" @click="query">查询</van-button>
    <van-button type="primary" @click="daka">打卡</van-button>
    </div>
</div>
</body>



<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                form: {
                    token: '',
                    uid: '',
                    longi: '',
                    lati: '',
                    address: '',
                }
            }
        },
        methods: {
            query() {
                console.log(this.form);
                let that = this
                axios.post('/v1/query',this.form).then(function (response) {
                    let data = JSON.parse(response.data)
                    let code = data.data.qdzt
                    if(code){
                      if(code === '1'){
                          that.$toast.success('未签到');
                      }else if(code === '6' ){
                          that.$toast.success( '上班中，未签退');
                      }
                      else if(code === '5' ){
                          that.$toast.success('已签退');
                      }else {
                          that.$toast.fail('未知状态');
                      }
                    }else {
                       alert(JSON.stringify(data) )
                    }
                }).catch(e=>{

                    if(e.response.data){
                        alert(e.response.data)
                    }else {
                        alert(e)
                    }

                })
            },
            daka() {
                let that = this
                let  date = new Date();
                let  hours = date.getHours()*100;
                let  minus =date.getMinutes()
                let time = hours + minus
                if(time > 900 && time <1735){
                    that.$toast.fail('上班时间,不能打卡');
                    return
                }
                axios.post('/v1/daka',this.form).then(function (response) {
                    let data = JSON.parse(response.data)
                    if(data.msg ==='成功'){
                        that.$toast.success(data.data);
                    }else {
                        alert(JSON.stringify(data) )
                    }
                }).catch(e=>{
                    if(e.response.data){
                        alert(e.response.data)
                    }else {
                        alert(e)
                    }
                })
            },
            ou(){
                this.form.uid = 'o1df8wULVEui8iH6iGQUSxLqEYGM'
            },
            wang(){
                this.form.uid = 'o1df8wbs0jO5O0EVk8IRD47IDZLg'
            },
            jc(){
                this.form.longi = '120.189317'
                this.form.lati = '30.262242'
                this.form.address = '杭州市劳动保障信息中心'
            },
            xf(){
                this.form.longi = '120.148615'
                this.form.lati = '30.264156'
                this.form.address = '浙江省杭州市西湖区宝石一路2号'
            }
        }
    })
</script>
</html>